name: Java

on:
  push:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Set up JDK 1.17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Test
        run: mvn clean test -Denv=stand

      - name: Archive code coverage results
        uses: actions/upload-artifact@v3
        with:
          name: allure-results
          path: target/allure-results
